<div class="flex h-screen bg-gray-700">
  <div class="w-full max-w-sm m-auto bg-gray-100 rounded p-5">
    <h2 class="text-center p-4">Edit your account</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "w-full max-w-sm" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div>
        <%= f.label :email, class: "input-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
      </div>

      <div>
        <%= f.label :password, class: "input-label" %>
        <span class="input-label">(leave blank if you don't want to change it)</span>
        <% if @minimum_password_length %>
        <span class="input-label"><em>(<%= @minimum_password_length %> characters minimum)</em></span>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "input-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
      </div>

      <div class="field">
        <%= f.label :current_password, class: "input-label" %>
        <span class="input-label">(we need your current password to confirm your changes)</span>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
      </div>

      <div>
        <%= f.submit "Update", class: "submit" %>
      </div>
    <% end %>

    <footer>
      <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "link-small float-left" %>
      <%= link_to "Back", root_path, class: "link-small float-right" %>
    </footer>
  </div>
</div>
