<div class="flex h-screen bg-gray-700">
  <div class="w-full max-w-sm m-auto bg-gray-100 rounded p-5">
    <header>
      <img class="w-20 mx-auto mb-5" src="https://img.icons8.com/external-glyph-on-circles-amoghdesign/48/000000/external-check-education-vol-01-glyph-on-circles-amoghdesign-2.png" />
    </header>

    <h2 class="text-center p-4">Create your account</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "w-full max-w-sm"}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div>
        <%= f.label :email, class: "input-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
      </div>

      <div>
        <%= f.label :password, class: "input-label" %>
        <% if @minimum_password_length %>
        <span class="input-label"><em>(<%= @minimum_password_length %> characters minimum)</em></span>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "input-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
      </div>

      <div>
        <%= f.submit "Sign up", class: "submit" %>
      </div>
    <% end %>

    <footer>
      <%= link_to "Log in", new_session_path(resource_name), class: "link-small float-left" %>
    </footer>
  </div>
</div>
