<div class="relative min-h-screen md:flex" data-dev-hint="container">
  <input type="checkbox" id="menu-open" class="hidden" />

  <header class="bg-gray-600 text-gray-100 flex justify-between md:hidden" data-dev-hint="mobile menu bar">
    <a href="#" class="block p-4 text-white font-bold whitespace-nowrap truncate">
      Do it damn it
    </a>

    <label for="menu-open" id="mobile-menu-button" class="m-2 p-2 focus:outline-none hover:text-white hover:bg-gray-700 rounded-md">
      <svg id="menu-open-icon" class="h-6 w-6 transition duration-200 ease-in-out" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
      <svg id="menu-close-icon" class="h-6 w-6 transition duration-200 ease-in-out" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </label>
  </header>

  <aside id="sidebar" class="bg-gray-800 text-gray-100 md:w-64 w-3/4 space-y-6 pt-6 px-0 absolute inset-y-0 left-0 transform md:relative md:translate-x-0 transition duration-200 ease-in-out  md:flex md:flex-col md:justify-between overflow-y-auto" data-dev-hint="sidebar; px-0 for frameless; px-2 for visually inset the navigation">
    <div class="flex flex-col space-y-6">
      <a href="#" class="text-white flex items-center space-x-2 px-4" title="Do it damn it">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 flex-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
        </svg>
        <span class="text-2xl font-extrabold whitespace-nowrap truncate">Do it damn it</span>
      </a>

      <nav data-dev-hint="main navigation">
        <%= link_to "Incomplete",
          todos_path(status: "incomplete"),
          class: "sidebar-item"
        %>
        <%= link_to "Complete",
          todos_path(status: "complete"),
          class: "sidebar-item"
        %>
      </nav>
    </div>
    <div>
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>
        <ul>
          <li><%= link_to "Edit profile", edit_user_registration_path, class: "navbar-link" %></li>
          <li><%= button_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-link" %></li>
        </ul>
      <% end %>
    </div>
  </aside>

  <main id="content" class="flex-1 p-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
      <div class="px-4 py-6 sm:px-0">
        <div class="border-4 border-dashed border-gray-200 rounded-lg h-96">
          <h2 class="text-2xl text-gray-900">
            Your todos
          </h2>
          <!-- old classes : block max-w-2xl w-full bg-gray-100 py-8 px-4 border border-gray-200 rounded shadow-sm -->
          <%= turbo_frame_tag "todos-container" do %>
            <% unless params[:status] == "complete" %>
              <div class="py-2 px-4">
                <%= render "form", todo: Todo.new %>
              </div>
            <% end %>
            <ul id="todos">
              <%= render @todos %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>
